{% extends 'index.html' %}
{% load get_supervisor %}
{% block titulo %}
    Lista de digitadores
{% endblock %}

{% block main %}
    <div class="container">
        <div align="center">
            <h2>
                Total Digitadores {{ object_list.count }}
            </h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-12" >
                    <table class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Usuario</th>
                            <th class="text-center">Nombre Completo</th>
                            <th class="text-center">Supervisor</th>
                            <th class="text-center">Call Center</th>
                            <th class="text-center">Redes Socialces</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody align="center">
                        {% for digitador in object_list %}
                            <tr>
                                <td class="text-center">
                                    {{ digitador.username }}
                                </td>
                                <td class=text-center">
                                    {{ digitador.get_full_name }}
                                </td>
                                <td class="text-center">
                                    {% if digitador.supervisor_id|get_supervisor %}
                                        {{ digitador.supervisor_id|get_supervisor }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if digitador.call_center %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if digitador.redes_sociales %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                     <a href="{{ digitador.get_absolute_url }}"
                                       class="btn bgm-green waves-effect btn-xs"
                                       data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Ver Perfil">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% include 'utils/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block floating_action_button %}
    <a href="javascript:location.reload(true)"
       class="btn btn-float bgm-blue m-btn waves-effect waves-circle waves-float" style="right: 105px">
        <i class="zmdi zmdi-refresh"></i>
    </a>
    <a href="{% url 'votantes:crear_supervisor' %}"
       class="btn btn-float bgm-green m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>
{% endblock %}


{% block modals %}

{% endblock %}


{% block scripts %}
    {% load staticfiles %}

{% endblock %}