{% extends 'index.html' %}
{% load get_supervisor staticfiles %}
{% block titulo %}
    Perfil de @{{ object.username }}
{% endblock %}


{% block extra_css %}

    <style>
        .text {
            font-weight: 800;
            color: white;
        }

        .bootgrid-table th:active, .bootgrid-table th:hover {
            background: #44505a;
        }

        .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
            background: #2c343b;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Informacion de
                    <span class="text-info">
                    {{ object.get_full_name }} <strong>@{{ object.username }}</strong>
                    </span>
                    -
                    Estado actual:
                    <code>
                        {% if object.is_active %}
                            Activo <i class="fa fa-check text-success"></i>
                        {% else %}
                            Desactivado <i class="fa fa-close text-danger"></i>
                        {% endif %}
                    </code>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h2 class="text-center">
                        Creados:
                        <code>{{ creados.count }}</code>
                        <br><br>
                        <button class="btn bgm-green btn-lg show-data" data-show="creados">
                            Mostrar evidencia
                        </button>
                    </h2>
                </div>
                <div class="col-md-3">
                    <h2 class="text-center">
                        LLamadas:
                        <code>{{ llamadas.count }}</code>
                        <br><br>
                        <button class="btn bgm-teal btn-lg show-data" data-show="llamadas">
                            Mostrar evidencia
                        </button>
                    </h2>
                </div>
                <div class="col-md-3">
                    <h2 class="text-center">
                        Modificados:
                        <code>{{ modificados.count }}</code>
                        <br><br>
                        <button class="btn bgm-purple btn-lg show-data" data-show="modificados">
                            Mostrar evidencia
                        </button>
                    </h2>
                </div>
                <div class="col-md-3">
                    <h2 class="text-center">
                        Modificaciones:
                        <code>{{ modificaciones.count }}</code>
                        <br><br>
                        <button class="btn bgm-amber btn-lg show-data" data-show="modificaciones">
                            Mostrar evidencia
                        </button>
                    </h2>
                </div>
            </div>
            <br><br><br><br>
        </div>

        <div class="card table_info hidden" id="creados">
            <div class="card-header">
                <h3 class="text-center">
                    Informacion de votantes creados por
                    <span class="text-info">
                    {{ object.get_full_name }} <code><strong>@{{ object.username }}</strong></code>
                    </span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="tabla_ table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Fecha de registro</th>
                                <th>Ver</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for votante in creados %}
                                <tr>
                                    <td>{{ votante.cedula }}</td>
                                    <td>{{ votante.nombre }}</td>
                                    <td>{{ votante.creacion }}</td>
                                    <td>
                                        <a href="{{ votante.get_absolute_url }}"
                                           class="btn btn-primary waves-effect btn-xs"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Ver perfil"
                                           target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table_info hidden" id="llamadas">
            <div class="card-header">
                <h3 class="text-center">
                    Informacion de llamadas hechas por
                    <span class="text-info">
                    {{ object.get_full_name }} <code><strong>@{{ object.username }}</strong></code>
                    </span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="tabla_ table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Cedula Votante</th>
                                <th>Nombre Votante</th>
                                <th>Fecha y hora</th>
                                <th>ip</th>
                                <th>Ver votante</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for llamada in llamadas %}
                                <tr>
                                    <td>{{ llamada.votante.cedula }}</td>
                                    <td>{{ llamada.votante.nombre }}</td>
                                    <td>{{ llamada.creacion }}</td>
                                    <td>
                                        <code>
                                            {{ llamada.ip }}
                                        </code>
                                    </td>
                                    <td>
                                        <a href="{{ llamada.votante.get_absolute_url }}"
                                           class="btn btn-primary waves-effect btn-xs"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Ver perfil"
                                           target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table_info hidden" id="modificados">
            <div class="card-header">
                <h3 class="text-center">
                    Informacion de votantes modificados por
                    <span class="text-info">
                    {{ object.get_full_name }} <code><strong>@{{ object.username }}</strong></code>
                    </span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="tabla_ table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Cedula Votante</th>
                                <th>Nombre Votante</th>
                                <th>Fecha de creacion</th>
                                <th>Ultimo usuario en modificar</th>
                                <th>Ver votante</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for votante in modificados %}
                                <tr>
                                    <td>{{ votante.cedula }}</td>
                                    <td>{{ votante.nombre }}</td>
                                    <td>{{ votante.creacion }}</td>
                                    <td>
                                        <code>@{{ votante.last_update_user }}</code>
                                    </td>
                                    <td>
                                        <a href="{{ llamada.votante.get_absolute_url }}"
                                           class="btn btn-primary waves-effect btn-xs"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Ver perfil"
                                           target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table_info hidden" id="modificaciones">
            <div class="card-header">
                <h3 class="text-center">
                    Informacion de modificaciones realizadas por
                    <span class="text-info">
                    {{ object.get_full_name }} <code><strong>@{{ object.username }}</strong></code>
                    </span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="tabla_ table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Cedula Votante</th>
                                <th>Nombre Votante</th>
                                <th>Fecha y hora</th>
                                <th>ip</th>
                                <th>detalle</th>
                                <th>Ver votante</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for llamada in llamadas %}
                                <tr>
                                    <td>{{ llamada.votante.cedula }}</td>
                                    <td>{{ llamada.votante.nombre }}</td>
                                    <td>{{ llamada.creacion }}</td>
                                    <td>
                                        <code>
                                            {{ llamada.ip }}
                                        </code>
                                    </td>
                                    <td>
                                        {{ llamada.detalles }}
                                    </td>
                                    <td>
                                        <a href="{{ llamada.votante.get_absolute_url }}"
                                           class="btn btn-primary waves-effect btn-xs"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Ver perfil"
                                           target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block floating_action_button %}
    <a href="{% url 'votantes:lista_digitadores' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>
{% endblock %}


{% block modals %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/ws.js' %}"></script>
    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/ajax_load.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/views/digitadores.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.tabla_').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "Lo sentimos, no hay registros disponibles",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(registros filtradosfiltrados _MAX_ )",
                    "search": "Buscar Registros:",
                    "paginate": {
                        "previous": "<i class=\"fa fa-fast-backward\"></i>",
                        "next": "<i class=\"fa fa-fast-forward\"></i>"
                    }
                }
            });
        });
    </script>
{% endblock %}