{% extends 'index.html' %}

{% block titulo %}
 {{ action }} {{ form.form_title }}
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h2>{{ action }} {{ form.form_title }}</h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-white f-500">
                por favor, complete el formulario para {{ action }} uno/a {{ form.form_title }}
                {% if form.errors %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissable text-center">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">
                                </button>
                                <strong>Error!</strong>
                                {% if not form.non_field_errors %}
                                    por favor revise los campos marcados
                                {% else %}
                                    {% for error in form.non_field_errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </p>
            {% include 'utils/forms/form.html' %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'backbone/underscore.js' %}"></script>
    <script src="{% static 'backbone/backbone.js' %}"></script>
     <script>
      window.user_id = {{ user.id }};
        $(document).ready(function () {
           $('#id_supervisor_id_group').addClass('hidden');
           $('#id_supervisor_id').val(window.user_id);
        });
    </script>
{% endblock %}