{% if error %}
    <p>por favor complete los campos marcados en <strong style="color: red">rojo!</strong></p>
{% endif %}
{% load widget_tweaks id_group %}
<form method="POST">{% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error" id="id_{{ field.label|get_id }}_group">
                {{ field.label }} {% if field.help_text %}: <strong>{{ field.help_text }}</strong>{% endif %}
                <div class="fg-line">
                    {% if field.label == 'Fecha ciesdrre' %}
                        {% render_field field class="form-control date-picker" %}
                    {% elif field.label == 'Call center' or field.label == 'Redes sociales' %}
                        <div class="checkbox m-b-15">
                            <label>
                                {% render_field field type='checkbox' %}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
                <div style="color: orangered">
                    <strong>{{ field.errors }}</strong>
                </div>
            </div>
        {% elif field.value != None %}
            <div class="form-group has-success" id="id_{{ field.label|get_id }}_group">
                {{ field.label }} {% if field.help_text %}: <strong>{{ field.help_text }}</strong>{% endif %}
                <div class="fg-line">
                    {% if field.label == 'fecha' %}
                        {% render_field field class="form-control date-picker" %}
                    {% elif field.label == 'Call center' or field.label == 'Redes sociales' %}
                        <div class="checkbox m-b-15">
                            <label>
                                {% render_field field type='checkbox' %}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="form-group" id="id_{{ field.label|get_id }}_group">
                {{ field.label }}
                {% if field.help_text %}
                    : <strong>{{ field.help_text|safe }}</strong>
                {% endif %}
                <div class="fg-line">
                    {% if field.label == 'Fecha cierre'  %}
                        {% render_field field class="form-control date-picker" %}
                    {% elif field.label == 'Call center' or field.label == 'Redes sociales' %}
                        <div class="checkbox m-b-15">
                            <label>
                                {% render_field field type='checkbox' %}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-12" align="center">
            <a href="{% url 'main:inicio' %}" class="btn bgm-red waves-effect">
                <i class="fa fa-close"></i> Cancelar
            </a>
            <button class="btn bgm-lightgreen waves-effect">
                Guardar <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</form>