{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
    Departamentos
{% endblock %}

{% block main %}

    <div class="container">

        <div class="block-header">
            <div align="center"><h2>DEPARTAMENTOS</h2></div>
        </div>

        {% for departamento in object_list %}
            {% if forloop.first %}
                <div class="row">
            {% endif %}
        <div class="col-md-3">
            <!-- Blog Posts -->
            <div class="card blog-post">

                {% if departamento.imagen %}
                         <img src="{{ departamento.imagen.url }}" class="img-responsive" alt="">
                    {% else %}
                         <img src="{% static 'img/demo/map.png' %} " class="img-responsive" alt="">
                {% endif %}

                <a class="card-header ch-alt" href="widgets.html">
                    <h2>{{ departamento.nombre|truncatechars:15 }}</h2>
                    <h5>Municipios: {{ departamento.get_municipios.count }} </h5>
                    <h5>Cantidad de votos: {{ departamento.votantes.count }}</h5>
                </a>

                <div class="card-body card-padding">
                    <div align="center"><a href="{{ departamento.get_absolute_url }}"
                                           class="btn bgm-purple btn-xs"><i class="zmdi zmdi-eye"></i> Ver</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}

        {% endfor %}
    </div>

{% endblock %}