{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
    Detalle del departamento {{ departamento.nombre }}
{% endblock %}

{% block main %}

    <div class="container">

        <div class="block-header">
                <div align="center" ><h2>DEPARTAMENTO  DE {{ departamento.nombre }}</h2></div>
        </div>

        <div class="card">

                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-8">
                            <!--Google map-->
                    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>{{ departamento.nombre }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Municipios: {{ departamento.get_municipios.count }}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Corregimientos: {{ departamento.get_corregimientos.count }}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Votos: {{ departamento.votantes.count }}</h2>
                                </div>
                            </div>
                             <div class="row">
                                 <div class="col-md-12">
                                    <div align="center"><a href="{{ departamento.get_municipios_url }}" class="btn bgm-purple waves-effect">Ver Municipios </a></div>
                                </div>
                            </div>
                            <br>
                             <div class="row">
                                 <div class="col-md-12">
                                 <div align="center"> <a href="{% url 'geodata:departamentos' %}" class="btn bgm-purple waves-effect">Volver a departamentos </a></div>
                                </div>
                            </div>

                        </div>
                    </div>
              </div>
            </div>

    </div>

     <div class="container">
        <div align="center">
            <h2>
                LISTA DE VOTANTES DEL DEPARTAMENTO DE   {{ departamento.nombre }}
            </h2>
        </div>
    </div>


    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-12" style="overflow-x: auto;">
                    {% include 'utils/paginator.html' %}
                    <table class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Departamento</th>
                            <th class="text-center">Municipio / Corregimiento</th>
                            <th class="text-center">Localidad / Barrio</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for votante in object_list %}
                            <tr>
                                <td class="text-center">
                                    {% if votante.cedula %}
                                        {{ votante.cedula }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.nombre %}
                                        {{ votante.nombre }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.departamento %}
                                        {{ votante.departamento }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.municipio %}
                                        {{ votante.municipio }}
                                    {% elif votante.corregimiento %}
                                        {{ votante.municipio }} / {{ votante.corregimiento }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.barrio %}
                                        {{ votante.barrio }} /  {{ votante.localidad }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}


                                </td>
                                <td class=text-center">
                                    <a href="{{votante.get_absolute_url}}"
                                       class="btn btn-primary waves-effect btn-xs"
                                       data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Ver perfil">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% include 'utils/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">



    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-container'), {
                zoom: 6,
                center: {lat: 3.8519738, lng: -73.6671921}
            });

            // NOTE: This uses cross-domain XHR, and may not work on older browsers.
            map.data.loadGeoJson(
                'http://localhost:8000/api/geodata/viewsets/departamentos/'+{{ departamento.id }}+'/?format=json');
            map.data.setStyle({
                fillColor: 'red',
                strokeWeight: 1
            });
            map.addListener('click', showArrays);
        }

        /** @this {google.maps.Polygon} */
        function showArrays(event) {
            // Since this polygon has only one path, we can call getPath() to return the
            // MVCArray of LatLngs.
            var vertices = this.getPath();

            var contentString = '<b>Departamento de {{ departamento.nombre }}</b><br>' +
                'Ubicacion: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
                '<br>';

            // Iterate over the vertices.
            for (var i = 0; i < vertices.getLength(); i++) {
                var xy = vertices.getAt(i);
                contentString += '<br>' + 'Coordenadas ' + i + ':<br>' + xy.lat() + ',' +
                    xy.lng();
            }

            // Replace the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);

            infoWindow.open(map);
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZKP0IwBnUJ7zh_384tkLqlMMZF0B-vY4&callback=initMap">
    </script>


{% endblock %}