{% extends 'index.html' %}
{% load humanize %}
{% block titulo %}
    Lista de votantes
{% endblock %}

{% block main %}

    <div class="container">
        <div align="center">
            <h2>
                LISTA DE VOTANTES DEL MUNICIPIO DE {{ municipio.nombre }}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" align="center">
            <h3 class="text-center">Senado: <br> {{ municipio.get_votantes_senado.count|intcomma }}</h3>
        </div>
        <div class="col-md-2" align="center">
            <h3 class="text-center">Camara: <br> {{ municipio.get_votantes_camara.count|intcomma }}</h3>
        </div>
        <div class="col-md-2" align="center">
            <h3 class="text-center">
                Presidencia: <br> {{ municipio.get_votantes_presidencia.count|intcomma }}
            </h3>
        </div>
        <div class="col-md-3" align="center">
            <h3 class="text-center">
                Contactados: <br> <span
                    class="text-success">{{ municipio.get_votantes_contactados.count|intcomma }}</span>
            </h3>
        </div>
        <div class="col-md-3" align="center">
            <h3 class="text-center">
                No Contactados: <br> <span
                    class="text-warning">{{ municipio.get_votantes_no_contactados.count|intcomma }}</span>
            </h3>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <div class="row" align="center">
                <div class="col-md-6" style="margin-top: 1%">
                    <a href="{{ municipio.get_votantes_contactados_url }}" class="btn btn-success btn-lg">
                        Ver Votantes Contactados
                    </a>
                </div>
                <div class="col-md-6" style="margin-top: 1%">
                    <a href="{{ municipio.get_votantes_no_contactados_url }}" class="btn btn-warning btn-lg">
                        Ver Votantes no Contactados
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="overflow-x: auto;">
                    {% include 'utils/paginator.html' %}
                    <table class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Municipio / Corregimiento</th>
                            <th class="text-center">Senado</th>
                            <th class="text-center">Camara</th>
                            <th class="text-center">Presidencia</th>
                            <th class="text-center">Contactado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for votante in object_list %}
                            <tr>
                                <td class="text-center">
                                    {% if votante.cedula %}
                                        {{ votante.cedula }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.nombre %}
                                        {{ votante.nombre }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.municipio %}
                                        {{ votante.municipio }}
                                    {% elif votante.corregimiento %}
                                        {{ votante.municipio }} / {{ votante.corregimiento }}
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.votaria_senado %}
                                        <i class="fa fa-close text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.votaria_camara %}
                                        <i class="fa fa-close text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.votaria_presidencia %}
                                        <i class="fa fa-close text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    {% if votante.contactado %}
                                        <i class="fa fa-close text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class=text-center">
                                    <a href="{{ votante.get_absolute_url }}"
                                       class="btn btn-primary waves-effect btn-xs"
                                       data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Ver perfil">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% include 'utils/paginator.html' %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}