{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
    Municipios de {{ departamento.nombre }}
{% endblock %}

{% block main %}
    <div class="container">
        <div align="center"><h2>MUNICIPIOS DE {{ departamento.nombre }}</h2></div>
    </div>
    <div class="card">

        <div class="card-body ">
            <div class="row">
                <div class="col-md-8">
                   <!--Google map-->
                    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ object.nombre }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Municipios: -{{ departamento.get_municipios.count }}-</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Corregimientos: -{{ departamento.get_corregimientos.count }}-</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Votos: -{{ departamento.votantes.count }}-</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div align="center"><a href="{{ departamento.get_corregimientos_url }}"
                                                   class="btn bgm-purple waves-effect">Ver Corregimientos </a></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div align="center"><a href="{% url 'geodata:departamentos' %}"
                                                   class="btn bgm-purple waves-effect">Volver a Departamentos </a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


        {% for municipio in municipio_list %}
            {% if forloop.first %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <!-- Blog Posts -->
                <div class="card blog-post">
                    <a class="card-header ch-alt" href="{{ municipio.get_lista_votantes_municipio_url }}">
                        <h2>{{ municipio.nombre|truncatechars:15 }}</h2>
                        <h5>corregimientos : {{ municipio.get_corregimientos.count }}</h5>
                        <h5>Cantidad de votos {{ municipio.cantidad_votantes }}</h5>
                    </a>
                </div>
            </div>
           {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
        {% include 'utils/paginator.html' %}

    </div>
{% endblock %}


{% block scripts %}
    {% load staticfiles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">


    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-container'), {
                zoom: 6,
                center: {lat: 3.8519738, lng: -73.6671921}
            });

            // NOTE: This uses cross-domain XHR, and may not work on older browsers.
            map.data.loadGeoJson(
                'http://localhost:8000/api/geodata/viewsets/departamentos/'+{{ departamento.id }}+'/?format=json');
            map.data.setStyle({
                fillColor: 'red',
                strokeWeight: 1
            });
            map.addListener('click', showArrays);
        }

        /** @this {google.maps.Polygon} */
        function showArrays(event) {
            // Since this polygon has only one path, we can call getPath() to return the
            // MVCArray of LatLngs.
            var vertices = this.getPath();

            var contentString = '<b>Departamento de {{ departamento.nombre }}</b><br>' +
                'Ubicacion: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
                '<br>';

            // Iterate over the vertices.
            for (var i = 0; i < vertices.getLength(); i++) {
                var xy = vertices.getAt(i);
                contentString += '<br>' + 'Coordenadas ' + i + ':<br>' + xy.lat() + ',' +
                    xy.lng();
            }

            // Replace the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);

            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZKP0IwBnUJ7zh_384tkLqlMMZF0B-vY4&callback=initMap">
    </script>


{% endblock %}