{% extends 'index.html' %}
{% load humanize %}
{% block titulo %}
    Lista de supervisores
{% endblock %}

{% block main %}
    <div class="container">
        <div align="center">
            <h2>
                Total Supervisores {{ object_list.count }}
            </h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-12" >
                    <table class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Usuario</th>
                            <th class="text-center">Nombre Completo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody align="center">
                        {% for supervisor in object_list %}
                            <tr>
                                <td class="text-center">
                                    {{ supervisor.username }}
                                </td>
                                <td class=text-center">
                                    {{ supervisor.get_full_name }}
                                </td>
                                <td class=text-center">
                                     <a href="{{votante.get_absolute_url}}"
                                       class="btn btn-primary waves-effect btn-xs"
                                       data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Modificar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% include 'utils/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block floating_action_button %}
    <a href="javascript:location.reload(true)"
       class="btn btn-float bgm-blue m-btn waves-effect waves-circle waves-float" style="right: 105px">
        <i class="zmdi zmdi-refresh"></i>
    </a>
    <a href="{% url 'votantes:crear_supervisor' %}"
       class="btn btn-float bgm-green m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>
{% endblock %}


{% block modals %}
    <div class="modal fade" id="modalVotante" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content card-modal">
                <div class="modal-header">
                    <h4 class="modal-title text-white">
                        Planilla Electoral
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Departamento</p>

                            <div class="form-group">
                                <select class="select-2" id="departamentos" style="width: 100%">
                                    <option>
                                        Escoja un departamento
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 m-b-25 hidden" id="select_municipios">
                            <p class="f-700 m-b-15 text-white">Municipio</p>

                            <div class="form-group">
                                <div class="select">
                                    <select class="select-2" id="municipios" style="width: 100%">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 m-b-25 hidden" id="select_corregimientos">
                            <p class="f-700 m-b-15 text-white">Corregimiento</p>
                            <div class="form-group">
                                <div class="select">
                                    <select class="select-2" id="corregimientos" style="width: 100%">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Nombre</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Cedula</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                                <div class="fg-line">
                                    <input type="number" class="form-control" id="cedula" placeholder="Cedula">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Celular</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                                <div class="fg-line">
                                    <input type="number" class="form-control" id="celular" placeholder="Celular">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Email</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                <div class="fg-line">
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Correo Electronico">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Direccion</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-pin-drop"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" id="direccion" placeholder="Direccion">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Barrio</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" id="barrio" placeholder="Barrio">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 m-b-25">
                            <p class="f-700 m-b-15 text-white">Votaria por</p>

                            <select class="selectpicker">
                                <option>Seleccion Opcion</option>
                                <option>Senado</option>
                                <option>Camara</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">Guardar</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'backbone/app/views/votante.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $('.select-2').select2({
            dropdownParent: $('#modalVotante')
        });
    </script>
{% endblock %}