/*
.flotante {
    background-color: #F1F436;
}

.btn-danger:hover:hover {
    background-color: #97F243;
} */

small {
    font-size: 1.1em;
    font-weight: bold;
}

.usuario {
    color: #006f7d;
}

[data-current-skin="cyan"] {
    background-color: #FF9800;
}

[data-current-skin="cyan"] .ss-icon {
    color: #FF9800;
}

@media (max-width: 767px) {
    [data-current-skin="cyan"] .ha-menu {
        background: #FF9800;
    }
}

body.login-content:before {
    background: #583f69;
}

.top-icon {

}

.flotante {
    background-color: #9577a7;
}

.flotante:hover:hover {
    background-color: #7a5a8e;
}

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    padding: 60px 0px;
    background-color: rgb(220, 220, 220);
}

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}

.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}

.event-list > li > time > span {
    display: none;
}

.event-list > li > time > .day {
    display: block;
    font-size: 40pt;
    font-weight: 200;
    line-height: 1;
    margin-top: 5px;
}

.event-list > li time > .month {
    display: block;
    font-size: 15pt;
    font-weight: 900;
    line-height: 0.5;
}

.event-list > li > img {
    width: 100%;
}

.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}

.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}

.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.event-list > li > .social > ul {
    margin: 0px;
}

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 0px 0px 5px 0;
}

.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.event-list > li > .social > ul > li {
    padding: 0px;
}

.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 80px;
        padding: 0px;
    }

    .event-list > li > time,
    .event-list > li > img {
        display: inline-block;
    }

    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }

    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }

    .event-list > li > time,
    .event-list > li > img {
        width: 160px;
        height: 80px;
        padding: 0px;
        margin: 0px;
    }

    .event-list > li > .info {
        position: relative;
        height: 80px;
        text-align: left;
        padding-right: 40px;
    }

    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
        margin-bottom: 0px;
    }

    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        padding-top: 10px;
        bottom: 0px;
    }

    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }

    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }

    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0 !important;
}

.pull-bottom {
    margin-top: 4% !important;
}

.busy-call {
    background: #ad6a3a !important;
    color: white !important;
    font-weight: 800;
}