{% extends 'apps/votante/digitacion_rapida.html' %}
{% load staticfiles %}
{% block titulo %}
    {% load staticfiles %}
    Digitacion Rapida
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/multiple-select.css' %}">
    <style>
        .ms-drop input[type="checkbox"] {
            vertical-align: baseline !important;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="card">

        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <input type="number" class="form-control"
                           id="consecutivo_padron"
                           placeholder="Escriba el consecutivo del padron">
                </div>
                <div class="col-md-3 form-group">
                    <input type="number" class="form-control"
                           id="cedula_lider"
                           placeholder="Escriba la cedula del lider">
                    <strong id="lider_invalido" class="text-danger hidden">
                        error, este lider no existe <i class="fa fa-close"></i>
                    </strong>
                    <strong id="lider_valido" class="text-success hidden">
                        Lider valido <i class="fa fa-check"></i>
                    </strong>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Datos del Votante
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="select-2" id="departamentos" style="width: 100%;">
                            <option disabled selected value>
                                Escoja un departamento
                            </option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4 hidden" id="select_municipios">
                    <div class="form-group">
                        <div class="select">
                            <select class="select-2" id="municipios" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden" id="select_corregimientos">
                    <div class="form-group">
                        <div class="select">
                            <select class="select-2" id="corregimientos" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12 m-b-25">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 m-b-25">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" id="cedula" placeholder="Cedula">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 m-b-25">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" id="celular" placeholder="Celular">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 m-b-25">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="email" class="form-control" id="email"
                                   placeholder="Correo Electronico">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p class="f-700 m-b-15 text-white">Seleccione el tipo de votante</p>
                    <select id="tipo_votante" class="select-multiple" multiple="multiple" style="width: 60%">
                        <option value="VOLUNTARIO">VOLUNTARIO</option>
                        <option value="REFERIDO">REFERIDO</option>
                        <option value="SIMPATIZANTE">SIMPATIZANTE</option>
                    </select>
                </div>

                  <div class="col-md-3 col-sm-12">
                    <p class="f-700 m-b-15 text-white">Votaria por</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox checkbox-light">
                                <label>
                                    <input type="checkbox" id="senado">
                                    <i class="input-helper"></i>
                                    <span>
                                        senado
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox checkbox-light">
                                <label>
                                    <input type="checkbox" id="camara">
                                    <i class="input-helper"></i>
                                    <span>
                                        camara
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox checkbox-light">
                                <label>
                                    <input type="checkbox" id="presidencia">
                                    <i class="input-helper"></i>
                                    <span>
                                        presidencia
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 m-b-25">
                    <p class="f-700 m-b-15 text-white">Direccion</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin-drop"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="direccion" placeholder="Direccion">
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12 m-b-25">
                    <p class="f-700 m-b-15 text-white">Barrio</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="barrio" placeholder="Barrio">
                        </div>
                    </div>
                </div>

                 <div class="col-md-3">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="green" style="margin-top: 4%;">
                        <label for="contactado" class="ts-label">Contactado</label>
                        <input id="contactado" type="checkbox" hidden="hidden">
                        <label for="contactado" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="purple" style="margin-top: 4%;">
                        <label for="voto_fuerte" class="ts-label">Voto fuerte</label>
                        <input id="voto_fuerte" type="checkbox" hidden="hidden">
                        <label for="voto_fuerte" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12" align="center" style="padding-bottom: 10px;">
                    <button class="btn btn-lg bgm-lightgreen" id="agregar_votante" style="margin-top: 40px">
                        Agregar <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>


        </div>

    </div>

    <div class="card">
        <div class="row">
            <div class="col-md-12" style="overflow-x: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center">
                            Votantes agregados: <span id="contador_votantes" class="text-counter-votantes">0</span>
                        </h3>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>
                            <button id="eliminar_registros" class="btn btn-md btn-warning waves-effect hidden">
                                Eliminar todos <i class="fa fa-trash"></i>
                            </button>
                        </h3>
                    </div>
                </div>
                <table class="table table-hover table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th rowspan="2" class="text-center">
                            Cedula
                        </th>
                        <th rowspan="2" class="text-center">
                            Nombre
                        </th>
                        <th rowspan="2" class="text-center">
                            Celular
                        </th>
                        <th rowspan="2" class="text-center">
                            Ubicacion
                        </th>
                        <th rowspan="2" class="text-center">
                            Direccion
                        </th>
                        <th rowspan="2" colspan="3" class="text-center">
                            Barrio
                        </th>
                        <th colspan="3" class="text-center">
                            Votaria por
                        </th>
                        <th rowspan="2" class="text-center">

                        </th>
                    </tr>
                    <tr>
                        <td class="text-center">Senado</td>
                        <td class="text-center">Camara</td>
                        <td class="text-center">Presidencia</td>
                    </tr>

                    </thead>
                    <tbody id="votantes">

                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <script type="text/template" id="votantes_item">
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= cedula %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= nombre %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= celular %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= ubicacion %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= direccion %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <%= barrio_registrado %>
        </td>
        <td colspan="3" class="text-center <% if(existente) { %> votante-existente <% } %>">
            <% if(votaria_senado == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <% if(votaria_camara == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <% if(votaria_presidencia == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center <% if(existente) { %> votante-existente <% } %>">
            <% if(existente == false) { %>
                <button class="btn btn-xs bgm-red borrar"
                        id="<%= id %>"
                        data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Borrar">
                    <i class="fa fa-trash"></i>
                </button>
            <% } else { %>
                <a href="/votantes/perfil_votante/<%= pk %>/"
                   target="_blank"
                   class="btn btn-primary waves-effect btn-xs"
                   data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="Ver perfil">
                    <i class="fa fa-eye"></i>
                </a>
            <% } %>
        </td>
    </script>

{% endblock %}




{% block floating_action_button %}
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button" style="right: 105px">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>

    <a class="btn btn-float bgm-cyan m-btn waves-effect waves-circle waves-float action-button" id="enviar_datos">
        <i class="zmdi zmdi-mail-send"></i>
    </a>

{% endblock %}



{% block scripts %}
    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/models/models.js' %}"></script>
    <script src="{% static 'backbone/app/collections/collections.js' %}"></script>
    <script src="{% static 'backbone/app/views/registroVotante.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        "use strict";
        $('.select-2').select2();
    </script>
{% endblock %}