{% extends 'index.html' %}
{% block titulo %}
    {% load staticfiles %}
{% endblock %}

{% block head_actions %}
 <li class="hidden-xs">
                    <button class="btn bgm-green waves-effect">DEPARTAMENTOS: {{ departamentos }}</button>
                </li>

                 <li class="hidden-xs">
                    <button class="btn bgm-purple waves-effect">MUNICIPIOS: {{ municipios }}</button>
                </li>

                <li class="hidden-xs">
                    <button class="btn bgm-lightblue waves-effect">CORREGIMIENTOS: {{ corregimientos }}</button>
                </li>

                <li class="hidden-xs">
                    <button class="btn bgm-pink waves-effect">VOTANTES : {{ votos }}</button>
                </li>
{% endblock %}

{% block main %}
    <div class="container">

        <div class="row">
            <div class="col-md-5 hidden-xs">
                <div class="card">
                    <div id="map-container" class="z-depth-1" style="height: 707px"></div>
                </div>
            </div>
            <div class="col-md-7">

                <div class="row">
                    <div class="col-md-6">
                        <!-- Blog Posts -->
                        <div class="card blog-post">
                            <img src="{% static 'img/demo/call-center.jpg' %} " class="img-responsive" alt="">

                            <a class="card-header ch-alt" href="#">
                             <div align="center"><h4>CALL CENTER </h4></div>

                            </a>

                            <div class="card-body card-padding">

                                <div align="center">
                                    <a href="{% url 'votantes:filtro_rapido' %}" class="btn bgm-green waves-effect">Entrar  <i class="zmdi zmdi-arrow-forward"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <!-- Blog Posts -->
                        <div class="card blog-post">
                            <img src="{% static 'img/demo/digitacion-rapida.jpg' %} " class="img-responsive" alt="">

                            <a class="card-header ch-alt" href="#">
                             <div align="center"><h4>DIGITACION RAPIDA </h4></div>

                            </a>

                            <div class="card-body card-padding">

                                <div align="center">
                                    <a href="{% url 'votantes:digitacion_rapida'  %}" class="btn bgm-green waves-effect">Entrar  <i class="zmdi zmdi-arrow-forward"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                      <div class="col-md-6">
                        <!-- Blog Posts -->
                        <div class="card blog-post">
                            <img src="{% static 'img/demo/estadisticas.jpg' %} " class="img-responsive" alt="">

                            <a class="card-header ch-alt" href="#">
                                <div align="center"><h4><i class="zmdi zmdi-chart-donut"></i> ESTADISTICAS</h4></div>

                            </a>

                            <div class="card-body card-padding">


                                 <div align="center">
                                    <a href="{% url 'votantes:estadistica_campaña'  %}" class="btn bgm-green waves-effect">Entrar  <i class="zmdi zmdi-arrow-forward"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Blog Posts -->
                        <div class="card blog-post">
                            <img src="{% static 'img/demo/filtro-rapido.jpg' %} " class="img-responsive" alt="">

                            <a class="card-header ch-alt" href="#">
                             <div align="center"><h4>FILTRO RAPIDO </h4></div>

                            </a>

                            <div class="card-body card-padding">

                                <div align="center">
                                    <a href="{% url 'votantes:filtro_rapido'  %}" class="btn bgm-green waves-effect">Entrar  <i class="zmdi zmdi-arrow-forward"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>




            </div>
        </div>


    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">


    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-container'), {
                zoom: 6,
                center: {lat: 3.8519738, lng: -73.6671921}
            });

        }

        /** @this {google.maps.Polygon} */
        function showArrays(event) {
            // Since this polygon has only one path, we can call getPath() to return the
            // MVCArray of LatLngs.
            var vertices = this.getPath();

            var contentString = '<b>Departamento de {{ departamento.nombre }}</b><br>' +
                'Ubicacion: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
                '<br>';

            // Iterate over the vertices.
            for (var i = 0; i < vertices.getLength(); i++) {
                var xy = vertices.getAt(i);
                contentString += '<br>' + 'Coordenadas ' + i + ':<br>' + xy.lat() + ',' +
                    xy.lng();
            }

            // Replace the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);

            infoWindow.open(map);
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZKP0IwBnUJ7zh_384tkLqlMMZF0B-vY4&callback=initMap">
    </script>


    <script>
        $(document).ready(function () {
            setTimeout(function () {
                notify("Bienvenidos a Elixir", "default")
            }, 1e3)
        });
    </script>


{% endblock %}