@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9747784');
  src: url('../font/fontello.eot?9747784#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9747784') format('woff2'),
       url('../font/fontello.woff?9747784') format('woff'),
       url('../font/fontello.ttf?9747784') format('truetype'),
       url('../font/fontello.svg?9747784#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mw-wrap [class^="icon-"]:before, .mw-wrap [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mw-wrap .icon-down-dir:before { content: '\e800'; } /* 'î €' */
.mw-wrap .icon-location:before { content: '\e801'; } /* 'î ' */
.mw-wrap .icon-trash-empty:before { content: '\e802'; } /* 'î ‚' */
.mw-wrap .icon-arrows-cw:before { content: '\e803'; } /* 'î ƒ' */

.mw-wrap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    min-width: 500px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.tabular td .mw-wrap{
    width: 100%;
}

.mw-wrap .form-control {
    border: 1px solid #ccc;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.mw-wrap .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


.mw-wrap *{
    border-radius: 0 !important;
}

.mw-wrap .icon-location{
    font-size: 20px;
}

.mw-wrap .mw-btn-add-marker{
    padding: 2px 8px 2px;
}

.mw-header {
    margin-bottom: 6px;
}

.mw-header .mw-adress-input-wrap{
    width: 40%;
}

.mw-header .mw-coordinates-wrap{
    position: relative;
    display: inline-block;
}

.mw-coordinates-overlay{
    width: 200px;
    background: #e7e7e7;
    margin-top: 3px;
    position: absolute;
    z-index: 100;
    padding: 10px;
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.325);
    box-shadow: 0 6px 20px rgba(0,0,0,.325);
}

.mw-coordinates-overlay label {
    float: none;
    width: 155px;
    height: 60px;
    font-weight: bold;
}


.mw-coordinates-overlay input.form-control{
    margin: 5px 0 10px 0;
    width: 180px;
}

.mw-coordinates-overlay input.form-control.error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.mw-coordinates-overlay input.error:focus{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}

.mw-header .mw-coordinates-container label{
    cursor: pointer;
}

.mw-map{
    height: 360px;
    display: block;
}

.mw-footer{
    padding: 10px 0;
}

.mw-map-wrapper{
    height: 360px;
    position: relative;
}

.mw-loader{
    background: url("../images/ripple.gif") no-repeat center center;
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
}


.mw-loader-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
    background: rgba(255, 255, 255, .7);;
    text-align: center;
}

.mw-map.click div{
    cursor: crosshair;
}

.mw-map.click div.gmnoprint div{
    cursor: pointer;
}


.mw-help-text.help-text{
    font-size: 11px;
    color: #999;
}

.mw-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mw-btn:focus,
.mw-btn:active:focus,
.mw-btn.active:focus,
.mw-btn.focus,
.mw-btn:active.focus,
.mw-btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.mw-btn:hover,
.mw-btn:focus,
.mw-btn.focus {
    color: #333333;
    text-decoration: none;
}
.mw-btn:active,
.mw-btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.mw-btn.disabled,
.mw-btn[disabled],
fieldset[disabled] .mw-btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.mw-btn.disabled,
fieldset[disabled] a.mw-btn {
    pointer-events: none;
}
.mw-btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.mw-btn-default:focus,
.mw-btn-default.focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.mw-btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.mw-btn-default:active,
.mw-btn-default.active,
.open > .dropdown-toggle.mw-btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.mw-btn-default:active:hover,
.mw-btn-default.active:hover,
.open > .dropdown-toggle.mw-btn-default:hover,
.mw-btn-default:active:focus,
.mw-btn-default.active:focus,
.open > .dropdown-toggle.mw-btn-default:focus,
.mw-btn-default:active.focus,
.mw-btn-default.active.focus,
.open > .dropdown-toggle.mw-btn-default.focus {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.mw-btn-default:active,
.mw-btn-default.active,
.open > .dropdown-toggle.mw-btn-default {
    background-image: none;
}
.mw-btn-default.disabled:hover,
.mw-btn-default[disabled]:hover,
fieldset[disabled] .mw-btn-default:hover,
.mw-btn-default.disabled:focus,
.mw-btn-default[disabled]:focus,
fieldset[disabled] .mw-btn-default:focus,
.mw-btn-default.disabled.focus,
.mw-btn-default[disabled].focus,
fieldset[disabled] .mw-btn-default.focus {
    background-color: #ffffff;
    border-color: #cccccc;
}
.mw-btn-default .badge {
    color: #ffffff;
    background-color: #333333;
}
.mw-btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.mw-btn-primary:focus,
.mw-btn-primary.focus {
    color: #ffffff;
    background-color: #286090;
    border-color: #122b40;
}
.mw-btn-primary:hover {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.mw-btn-primary:active,
.mw-btn-primary.active,
.open > .dropdown-toggle.mw-btn-primary {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.mw-btn-primary:active:hover,
.mw-btn-primary.active:hover,
.open > .dropdown-toggle.mw-btn-primary:hover,
.mw-btn-primary:active:focus,
.mw-btn-primary.active:focus,
.open > .dropdown-toggle.mw-btn-primary:focus,
.mw-btn-primary:active.focus,
.mw-btn-primary.active.focus,
.open > .dropdown-toggle.mw-btn-primary.focus {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
}
.mw-btn-primary:active,
.mw-btn-primary.active,
.open > .dropdown-toggle.mw-btn-primary {
    background-image: none;
}
.mw-btn-primary.disabled:hover,
.mw-btn-primary[disabled]:hover,
fieldset[disabled] .mw-btn-primary:hover,
.mw-btn-primary.disabled:focus,
.mw-btn-primary[disabled]:focus,
fieldset[disabled] .mw-btn-primary:focus,
.mw-btn-primary.disabled.focus,
.mw-btn-primary[disabled].focus,
fieldset[disabled] .mw-btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.mw-btn-primary .badge {
    color: #337ab7;
    background-color: #ffffff;
}
.mw-btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.mw-btn-success:focus,
.mw-btn-success.focus {
    color: #ffffff;
    background-color: #449d44;
    border-color: #255625;
}
.mw-btn-success:hover {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
.mw-btn-success:active,
.mw-btn-success.active,
.open > .dropdown-toggle.mw-btn-success {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
.mw-btn-success:active:hover,
.mw-btn-success.active:hover,
.open > .dropdown-toggle.mw-btn-success:hover,
.mw-btn-success:active:focus,
.mw-btn-success.active:focus,
.open > .dropdown-toggle.mw-btn-success:focus,
.mw-btn-success:active.focus,
.mw-btn-success.active.focus,
.open > .dropdown-toggle.mw-btn-success.focus {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
}
.mw-btn-success:active,
.mw-btn-success.active,
.open > .dropdown-toggle.mw-btn-success {
    background-image: none;
}
.mw-btn-success.disabled:hover,
.mw-btn-success[disabled]:hover,
fieldset[disabled] .mw-btn-success:hover,
.mw-btn-success.disabled:focus,
.mw-btn-success[disabled]:focus,
fieldset[disabled] .mw-btn-success:focus,
.mw-btn-success.disabled.focus,
.mw-btn-success[disabled].focus,
fieldset[disabled] .mw-btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.mw-btn-success .badge {
    color: #5cb85c;
    background-color: #ffffff;
}
.mw-btn-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.mw-btn-info:focus,
.mw-btn-info.focus {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.mw-btn-info:hover {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.mw-btn-info:active,
.mw-btn-info.active,
.open > .dropdown-toggle.mw-btn-info {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.mw-btn-info:active:hover,
.mw-btn-info.active:hover,
.open > .dropdown-toggle.mw-btn-info:hover,
.mw-btn-info:active:focus,
.mw-btn-info.active:focus,
.open > .dropdown-toggle.mw-btn-info:focus,
.mw-btn-info:active.focus,
.mw-btn-info.active.focus,
.open > .dropdown-toggle.mw-btn-info.focus {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.mw-btn-info:active,
.mw-btn-info.active,
.open > .dropdown-toggle.mw-btn-info {
    background-image: none;
}
.mw-btn-info.disabled:hover,
.mw-btn-info[disabled]:hover,
fieldset[disabled] .mw-btn-info:hover,
.mw-btn-info.disabled:focus,
.mw-btn-info[disabled]:focus,
fieldset[disabled] .mw-btn-info:focus,
.mw-btn-info.disabled.focus,
.mw-btn-info[disabled].focus,
fieldset[disabled] .mw-btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.mw-btn-info .badge {
    color: #5bc0de;
    background-color: #ffffff;
}
.mw-btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.mw-btn-warning:focus,
.mw-btn-warning.focus {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.mw-btn-warning:hover {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
.mw-btn-warning:active,
.mw-btn-warning.active,
.open > .dropdown-toggle.mw-btn-warning {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
.mw-btn-warning:active:hover,
.mw-btn-warning.active:hover,
.open > .dropdown-toggle.mw-btn-warning:hover,
.mw-btn-warning:active:focus,
.mw-btn-warning.active:focus,
.open > .dropdown-toggle.mw-btn-warning:focus,
.mw-btn-warning:active.focus,
.mw-btn-warning.active.focus,
.open > .dropdown-toggle.mw-btn-warning.focus {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
}
.mw-btn-warning:active,
.mw-btn-warning.active,
.open > .dropdown-toggle.mw-btn-warning {
    background-image: none;
}
.mw-btn-warning.disabled:hover,
.mw-btn-warning[disabled]:hover,
fieldset[disabled] .mw-btn-warning:hover,
.mw-btn-warning.disabled:focus,
.mw-btn-warning[disabled]:focus,
fieldset[disabled] .mw-btn-warning:focus,
.mw-btn-warning.disabled.focus,
.mw-btn-warning[disabled].focus,
fieldset[disabled] .mw-btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.mw-btn-warning .badge {
    color: #f0ad4e;
    background-color: #ffffff;
}
.mw-btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.mw-btn-danger:focus,
.mw-btn-danger.focus {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #761c19;
}
.mw-btn-danger:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.mw-btn-danger:active,
.mw-btn-danger.active,
.open > .dropdown-toggle.mw-btn-danger {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.mw-btn-danger:active:hover,
.mw-btn-danger.active:hover,
.open > .dropdown-toggle.mw-btn-danger:hover,
.mw-btn-danger:active:focus,
.mw-btn-danger.active:focus,
.open > .dropdown-toggle.mw-btn-danger:focus,
.mw-btn-danger:active.focus,
.mw-btn-danger.active.focus,
.open > .dropdown-toggle.mw-btn-danger.focus {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
}
.mw-btn-danger:active,
.mw-btn-danger.active,
.open > .dropdown-toggle.mw-btn-danger {
    background-image: none;
}
.mw-btn-danger.disabled:hover,
.mw-btn-danger[disabled]:hover,
fieldset[disabled] .mw-btn-danger:hover,
.mw-btn-danger.disabled:focus,
.mw-btn-danger[disabled]:focus,
fieldset[disabled] .mw-btn-danger:focus,
.mw-btn-danger.disabled.focus,
.mw-btn-danger[disabled].focus,
fieldset[disabled] .mw-btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.mw-btn-danger .badge {
    color: #d9534f;
    background-color: #ffffff;
}
.mw-btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
}
.mw-btn-link,
.mw-btn-link:active,
.mw-btn-link.active,
.mw-btn-link[disabled],
fieldset[disabled] .mw-btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mw-btn-link,
.mw-btn-link:hover,
.mw-btn-link:focus,
.mw-btn-link:active {
    border-color: transparent;
}
.mw-btn-link:hover,
.mw-btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.mw-btn-link[disabled]:hover,
fieldset[disabled] .mw-btn-link:hover,
.mw-btn-link[disabled]:focus,
fieldset[disabled] .mw-btn-link:focus {
    color: #777777;
    text-decoration: none;
}
.mw-btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.mw-btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.mw-btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.mw-btn-block {
    display: block;
    width: 100%;
}
.mw-btn-block + .mw-btn-block {
    margin-top: 5px;
}

.mw-btn.active, .mw-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.mw-btn-warning.active, .mw-btn-warning:active{
    color: #fff;
    border-color: #d58512;
    background: #ec971f none;
}

.map-widget-overlay-link{
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    border-bottom: 0;
    display: inline-block;
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}