{% extends 'uploads.html' %}

{% block titulo %}
    Subir Barrios
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Suba el excel de los votantes aqui
            </h1>
        </div>
        <div class="row" align="center">
            <div class="col-md-12" align="center">
                <form method="POST" class="form-inline"
                      enctype="multipart/form-data">
                    <div class="form-group" align="center">{% csrf_token %}
                        <input type="file" class="form-control" name="excel_file">
                    </div>
                    <div class="form-group">
                        <button id="btn btn-info" class="btn btn-primary margin-top"
                                data-loading-text="Loading..." type="submit">
                            Guardar <i class="fa fa-upload"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}