<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        API COLOMBIA
        {% block titulo %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap4.min.css">
</head>
<body>
<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class="col-md-12" align="center">
            <a href="{% url 'geodata:subir_barrios' %}" class="btn btn-info btn-lg">
                Barrios
            </a>
            <a href="{% url 'geodata:subir_corregimientos' %}" class="btn btn-primary btn-lg">
                Corregimientos
            </a>
            <a href="{% url 'geodata:subir_votante' %}" class="btn btn-primary btn-lg">
                Corregimientos
            </a>
        </div>
    </div>
    <div class="container" style="margin-top: 5%; margin-bottom: 10%">
        {% block main %}{% endblock %}
    </div>
    <div class="container">
        {% load i18n %}
        <div class="row" align="center">
            <div class="col-md-12">
                <ul class="pagination center-block">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="previous first disabled">
                            <a class="a-prevent">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in page_obj.pages %}
                        {% if page %}
                            {% ifequal page page_obj.number %}
                                <li class="active">
                                    <span class="current page">{{ page }}</span>
                                </li>
                            {% else %}
                                <li>
                                    <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                </li>
                            {% endifequal %}
                        {% else %}
                            <li class="previous first disabled">
                                <a class="a-prevent" href="">
                                    <i class="zmdi zmdi-more-horiz"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?{{ page_obj.next_page_number.querystring }}" class="next">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <a class="a-prevent">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
</script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
</script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js">
</script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js">
</script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
</script>
<script type="text/javascript" language="javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js">
</script>
<script type="text/javascript" language="javascript"
        src="//cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tabla').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#tabla_wrapper .col-md-6:eq(0)');
    });
</script>
</body>
</html>