{% load staticfiles %}
<ul class="main-menu">
    <li class="mm-profile sub-menu">
        <a href="" data-ma-action="submenu-toggle" class="media">
            <img class="pull-left" src="{% static 'img/profile-pics/2.jpg' %}" alt="">
            <div class="media-body">
                {{ user.get_full_name }}
                <small>{{ user.username }}</small>
            </div>
        </a>

        <ul>
            <li class="hidden">
                <a href="">Ver mis estadisticas</a>
            </li>

            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">
                        Administrador <i class="fa fa-bug"></i>
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="{% url 'main:salir' %}">Salir</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="{% url 'main:inicio' %}">
            <i class="zmdi zmdi-home"></i>
            Inicio
        </a>
    </li>
    <li>
        <a href="{% url 'geodata:departamentos' %}">
            <i class="zmdi zmdi-google-maps"></i>
            Departamentos
        </a>
    </li>

    <li>
        <a href="{% url 'votantes:digitacion_rapida' %}">
            <i class="zmdi zmdi-keyboard"></i>
            Digitacion rapida
        </a>
    </li>


    <li>
        <a href="{% url 'votantes:filtro_rapido' %}">
            <i class="zmdi zmdi-filter-list"></i>
            Filtro rapido
        </a>
    </li>

    <li class="sub-menu">
        <a href="" data-ma-action="submenu-toggle">
            <i class="zmdi zmdi-chart-donut"></i>
            Reportes
        </a>

        <ul>
            <li>
                 <a href="{% url 'reportes:reportes_generados' %}">
                     <i class="zmdi zmdi-notifications-active"></i>
                     Reportes generados
                 </a>
            </li>
            <li>
                 <a href="{% url 'votantes:generar_reporte' %}">
                     <i class="zmdi zmdi-account"></i>
                     Votantes
                 </a>
            </li>
            <li>
                <a href="{% url 'reportes:reporte_llamadas' %}">
                    <i class="zmdi zmdi-phone-forwarded"></i>
                    Llamadas
                </a>
            </li>
            <li>
                <a href="{% url 'reportes:reporte_votantes_nuevos_fecha' %}">
                    <i class="zmdi zmdi-plus"></i>
                    Nuevos por rango de fecha
                </a>
            </li>
        </ul>

    </li>

    {% if request.user.is_superuser %}
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-mood"></i>
                Supervisores
            </a>

            <ul>
                <li><a href="{% url 'votantes:crear_supervisor' %}">Crear Supervisor</a></li>
                <li><a href="{% url 'votantes:lista_supervisores' %}">Lista de Supervisores</a></li>
            </ul>
        </li>
    {% endif %}


    {% if request.user.is_superuser or request.user.supervisor %}
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-edit"></i>
                Digitadores
            </a>

            <ul>
                <li>
                    <a href="{% url 'votantes:crear_digitador' %}">
                        Crear Digitador
                    </a>
                </li>
                <li>
                    <a href="{% url 'votantes:lista_digitadores' %}">
                        Lista de Digitadores
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}


    <li class="sub-menu">
        <a href="" data-ma-action="submenu-toggle">
            <i class="zmdi zmdi-favorite"></i>
            Votantes
        </a>

        <ul>
            <li>
                <a href="{% url 'votantes:votantes_modificados' %}">
                    <i class="zmdi zmdi-time-restore"></i> Actualizados
                </a>
            </li>

            <li>
                <a href="{% url 'votantes:busqueda_facil' %}">
                    <i class="zmdi zmdi-search"></i>
                    Busqueda Facil
                </a>
            </li>
        </ul>

    </li>

    <li>
        <a href="{% url 'votantes:auditoria_db' %}">
            <i class="zmdi zmdi-filter-list"></i>
            Filtro Auditoria DB
        </a>
    </li>

</ul>

