{% load i18n %}
<div class="row" align="center">
    <div class="col-md-12">
        <ul class="pagination center-block">
            {% if page_obj.has_previous %}
                 <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                 </li>
            {% else %}
                <li class="previous first disabled">
                    <a class="a-prevent">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                </li>
            {% endif %}
            {% for page in page_obj.pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <li class="active">
                            <span class="current page">{{ page }}</span>
                        </li>
                    {% else %}
                       <li>
                         <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                       </li>
                    {% endifequal %}
                {% else %}
                    <li class="previous first disabled">
                        <a class="a-prevent" href="">
                            <i class="zmdi zmdi-more-horiz"></i>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="?{{ page_obj.next_page_number.querystring }}" class="next">
                       <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a class="a-prevent">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>