{% extends 'apps/votante/digitacion_rapida.html' %}
{% block titulo %}
    {% load staticfiles %}
    Filtro de votantes
{% endblock %}
{% block main %}

    <div class="row" id="main_loader">
        <div class="col-md-12" align="center">
            <section class="loaders">
                <span class="loader loader-circles"> </span>
                <h3 class="text-center">
                    Cargando
                </h3>
            </section>
        </div>
    </div>

    <div class="card custom-hide fade" id="formulario">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Auditoria De integridad DB
                    </h3>
                </div>
            </div>



            <div class="row">

                <div class="col-sm-2 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="blue">
                        <label for="email" class="ts-label" style="margin-bottom: 5%;">Sin Email</label>
                        <input id="email" class="switch" type="checkbox" hidden="hidden">
                        <label for="email" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-2 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="amber">
                        <label for="cedula" class="ts-label" style="margin-bottom: 5%;">Sin Cedula</label>
                        <input id="cedula" class="switch" type="checkbox" hidden="hidden">
                        <label for="cedula" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-2 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="lime">
                        <label for="telefono" class="ts-label" style="margin-bottom: 5%;">Sin Telefono</label>
                        <input id="telefono" class="switch" type="checkbox" hidden="hidden">
                        <label for="telefono" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-2 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="cyan">
                        <label for="nombre" class="ts-label" style="margin-bottom: 5%;">Sin Nombre </label>
                        <input id="nombre" class="switch" type="checkbox" hidden="hidden">
                        <label for="nombre" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-2 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="red">
                        <label for="departamento" class="ts-label" style="margin-bottom: 5%;">Sin Departamento</label>
                        <input id="departamento" class="switch" type="checkbox" hidden="hidden">
                        <label for="departamento" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-1 m-b-20" style="margin-left: 2%;">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="purple">
                        <label for="municipio" class="ts-label" style="margin-bottom: 5%;">Sin Municipio</label>
                        <input id="municipio" type="checkbox" hidden="hidden">
                        <label for="municipio" class="ts-helper"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div align="center" style="padding-bottom: 15px;">
                    <button id="filtro" class="btn btn-lg bgm-cyan waves-effect">
                        Buscar <i class="fa fa-search"></i>
                    </button>
                    <button id="cancelar" class="btn hidden btn-lg bgm-red waves-effect">
                        Cancelar <i class="fa fa-close"></i>
                    </button>
                    <button id="reiniciar" class="btn hidden btn-lg bgm-teal waves-effect">
                        Reiniciar Busqueda <i class="fa fa-history"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row hidden" id="loader">
        <div class="col-md-12" align="center">
            <section class="loaders">
                <span class="loader loader-quart"> </span>
            </section>
        </div>
    </div>

    <div class="row hidden" id="sin_resultados">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info text-center">
                No se encontraron resultados <a href="#" class="close" data-dismiss="alert"
                                                aria-label="close">&times;</a>
            </div>
        </div>
    </div>

    <div class="card hidden" id="resultados_busqueda">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 hidden" id="contador_resultados">
                    <h3 class="text-center">
                        Registros encontrados <span id="contador_votantes" class="text-counter-votantes">0</span>
                    </h3>
                </div>
                <div class="col-md-12 hidden" id="resultados" style="overflow-x: auto;">
                    <table id="votantes_data" class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Ubicacion</th>
                            <th class="text-center">Contactado</th>
                            <th class="text-center">No Volver A Llamar</th>
                            <th class="text-center">Voto Fuerte</th>
                            <th class="text-center">
                                Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody id="votantes">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination-sm"></ul>
                </nav>
            </div>
        </div>
    </div>



    <script type="text/template" id="datos">
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>" id="tr_votante_<%= id %>">
            <%= cedula %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <%= nombre %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <%= ubicacion %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(contactado == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(no_volver_a_llamar == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(voto_fuerte == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <a href="/votantes/perfil_votante/<%= id %>/" class="btn btn-xs bgm-blue  votante_attr_<%= id %>borrar <% if(editor != null) { %> hidden <% } %>"
               id="<%= id %>"
               data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Ver">
                <i class="fa fa-eye"></i>
            </a>
        </td>
    </script>

{% endblock %}


{% block floating_action_button %}
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/loaders.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ws.js' %}"></script>
    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/ajax_load.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/models/models.js' %}"></script>
    <script src="{% static 'backbone/app/collections/collections.js' %}"></script>
    <script src="{% static 'backbone/app/views/auditoriaVotantes.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $('.select-2').select2();
        window.user = {{ user.id }};
        window.filtro_rapido = true;
    </script>
{% endblock %}