{% extends 'index.html' %}
{% block titulo %}
    Perfil votante
{% endblock %}
{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div align="center"><h2>PLANILLA ELECTORAL</h2></div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div align="center">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Cargar Archivo</label>
                        <br>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <br>
                        <button class="btn bgm-lightgreen">Cargar</button>
                    </div>
                </form>
                    </div>

            </div>

        </div>
    </div>


{% endblock %}