<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elixir App | {% block titulo %}{% endblock %}</title>
    <link rel="icon" href="https://avatars0.githubusercontent.com/u/1481354?s=400&v=4">
    {% load staticfiles %}
    <!-- Vendor CSS -->
    <link href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/sweetalert/dist/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %} "
          rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'css/app_1.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app_2.min.css' %}" rel="stylesheet">


    <link href="{% static 'vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/farbtastic/farbtastic.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/summernote/dist/summernote.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->

    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">


    {% block extra_css %}{% endblock %}

</head>

<body id="app">
<header id="header" class="clearfix">
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="{% url 'main:inicio' %}">Elixir APP</a>
        </li>

        <li class="pull-right">
            <ul class="hi-menu">
                {% if search %}
                    <li data-ma-action="search-open">
                        <a href=""><i class="him-icon zmdi zmdi-search"></i></a>
                    </li>
                {% endif %}
                <li class="dropdown">

                    <a data-toggle="dropdown" href="index.html"><i class="him-icon zmdi zmdi-more-vert"></i></a>

                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="hidden-xs">
                            <a data-ma-action="fullscreen" href="index.html"><i class="zmdi zmdi-fullscreen"></i>
                                Pantalla Completa
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'main:salir' %}">
                                <i class="zmdi zmdi-close"></i>
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Top Search Content -->
    {% if search %}
        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    {% endif %}

</header>

<section id="main">
    <aside id="sidebar" class="sidebar c-overflow">
        {% include 'utils/menu.html' %}
    </aside>

    <div class="container">
        {% block main %} {% endblock %}
    </div>

    {% block floating_action_button %}
    {% endblock %}
</section>


{% block modals %}

{% endblock %}


<!-- Page Loader -->
<div class="page-loader">
    <div class="preloader pls-white">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20"/>
        </svg>

        <p>Cargando...</p>
    </div>
</div>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->


{% block underscore %}
{% endblock %}

<!-- Javascript Libraries -->
<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<script src="{% static 'vendors/bower_components/flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendors/bower_components/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendors/bower_components/flot.curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'vendors/sparklines/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>

<script src="{% static 'vendors/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>

        <![endif]-->

<script src="{% static 'vendors/bower_components/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'vendors/input-mask/input-mask.min.js' %}"></script>
<script src="{% static 'vendors/farbtastic/farbtastic.min.js' %}"></script>


<script src="{% static 'vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
<script src="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/summernote/dist/summernote-updated.min.js' %}"></script>


<script src="{% static 'js/app.min.js' %}"></script>


<script>
    function notify(message, type) {
        $.growl({message: message}, {
            type: type,
            allow_dismiss: !1,
            label: "Cancel",
            className: "btn-xs btn-inverse",
            placement: {from: "bottom", align: "left"},
            delay: 2500,
            animate: {enter: "animated fadeInUp", exit: "animated fadeOutDown"},
            offset: {x: 30, y: 30}
        })
    }
</script>
<script src="{% static 'js/multiple-select.js' %}"></script>
<script>
    $(".select-multiple").multipleSelect({
        selectAll: false,
        allSelected: 'Todos'
    });

</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backbone/underscore.js' %}"></script>
<script src="{% static 'backbone/backbone.js' %}"></script>
<script src="{% static 'backbone/backbone.localStorage.js' %}"></script>
<script src="{% static 'js/jquery.twbsPagination.js' %}"></script>

{% block scripts %}

{% endblock %}


</body>
</html>
