{% extends 'apps/votante/digitacion_rapida.html' %}
{% block titulo %}
    {% load staticfiles %}
    Filtro de votantes
{% endblock %}
{% block main %}

    <div class="row" id="main_loader">
        <div class="col-md-12" align="center">
            <section class="loaders">
                <span class="loader loader-circles"> </span>
                <h3 class="text-center">
                    Cargando
                </h3>
            </section>
        </div>
    </div>

    <div class="card custom-hide fade" id="formulario">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Filtro Rapido
                    </h3>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="select-2" id="departamentos" style="width: 100%;">
                            <option disabled selected value>
                                Escoja un departamento
                            </option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4 hidden" id="select_municipios">
                    <div class="form-group">
                        <div class="select">
                            <select class="select-2" id="municipios" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden" id="select_corregimientos">
                    <div class="form-group">
                        <div class="select">
                            <select class="select-2" id="corregimientos" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 m-b-25" style="padding: 0px">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" id="cedula" placeholder="Cedula">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 m-b-25" style="padding: 0px">
                    <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-mood"></i><i
                                    class="zmdi zmdi-minus"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" id="edad_minima" placeholder="Edad minima">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 m-b-25" style="padding: 0px">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-face"></i><i
                                class="zmdi zmdi-plus"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" id="edad_maxima" placeholder="Edad maxima">
                        </div>
                    </div>
                </div>

                <div class="col-sm-1 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="blue">
                        <label for="contactado" class="ts-label" style="margin-bottom: 5%;">Contactado</label>
                        <input id="contactado" type="checkbox" hidden="hidden">
                        <label for="contactado" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-1 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="amber">
                        <label for="no_contesto" class="ts-label" style="margin-bottom: 5%;">No contesto</label>
                        <input id="no_contesto" type="checkbox" hidden="hidden">
                        <label for="no_contesto" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-1 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="lime">
                        <label for="apagados" class="ts-label" style="margin-bottom: 5%;">Apagados</label>
                        <input id="apagados" type="checkbox" hidden="hidden">
                        <label for="apagados" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-1 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="cyan">
                        <label for="volver_a_llamar" class="ts-label" style="margin-bottom: 5%;">Volver a
                            llamar </label>
                        <input id="volver_a_llamar" type="checkbox" hidden="hidden">
                        <label for="volver_a_llamar" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-1 m-b-20">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="red">
                        <label for="no_volver_a_llamar" class="ts-label" style="margin-bottom: 5%;">No volver a
                            llamar</label>
                        <input id="no_volver_a_llamar" type="checkbox" hidden="hidden">
                        <label for="no_volver_a_llamar" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-sm-1 m-b-20" style="margin-left: 2%;">
                    <div class="toggle-switch toggle-switch-demo" data-ts-color="purple">
                        <label for="voto_fuerte" class="ts-label" style="margin-bottom: 5%;">Voto Fuerte</label>
                        <input id="voto_fuerte" type="checkbox" hidden="hidden">
                        <label for="voto_fuerte" class="ts-helper"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div align="center" style="padding-bottom: 15px;">
                    <button id="filtro" class="btn btn-lg bgm-cyan waves-effect">
                        Buscar <i class="fa fa-search"></i>
                    </button>
                    <button id="cancelar" class="btn hidden btn-lg bgm-red waves-effect">
                        Cancelar <i class="fa fa-close"></i>
                    </button>
                    <button id="reiniciar" class="btn hidden btn-lg bgm-teal waves-effect">
                        Reiniciar Busqueda <i class="fa fa-history"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row hidden" id="loader">
        <div class="col-md-12" align="center">
            <section class="loaders">
                <span class="loader loader-quart"> </span>
            </section>
        </div>
    </div>

    <div class="row hidden" id="sin_resultados">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger text-center">
                No se encontraron resultados <a href="#" class="close" data-dismiss="alert"
                                                aria-label="close">&times;</a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-center">


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Agregar Votante
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content"
                             style="color: white;background-color: #4f38608c;width: 1000px;margin-left: -33%;">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" style="color: white;">Formulario digitacion
                                    rapida</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success">Guardar votante</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="card hidden" id="resultados_busqueda">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 hidden resultados" id="contador_resultados">
                    <h3 class="text-center">
                        Registros encontrados <span id="contador_votantes" class="text-counter-votantes">0</span>
                    </h3>
                </div>
                <div class="col-md-4 hidden resultados">
                    <h3 class="text-center">
                        Paginas Encontradas <span id="paginas_encontradas" class="text-counter-votantes">0</span>
                    </h3>
                </div>
                <div class="col-md-4 hidden resultados">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" id="go_to" class="form-control"
                                   placeholder="Escriba el numero de la pagina">
                        </div>
                        <div class="col-md-6">
                            <button class="btn bgm-indigo" id="buscar_pagina">
                                Buscar <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 hidden" id="resultados" style="overflow-x: auto;">
                    <table id="votantes_data" class="table table-stripped table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Ubicacion</th>
                            <th class="text-center">Contactado</th>
                            <th class="text-center">No Volver A Llamar</th>
                            <th class="text-center">Voto Fuerte</th>
                            <th class="text-center">
                                Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody id="votantes">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination-sm"></ul>
                </nav>
            </div>
        </div>
    </div>



    <script type="text/template" id="datos">
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>"
            id="tr_votante_<%= id %>">
            <%= cedula %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <%= nombre %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <%= ubicacion %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(contactado == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(no_volver_a_llamar == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <% if(voto_fuerte == false) { %>
            <i class="fa fa-close text-danger"></i>
            <% } else { %>
            <i class="fa fa-check text-success"></i>
            <% } %>
        </td>
        <td class="text-center votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
            <a href="/votantes/perfil_votante/<%= id %>/"
               class="btn btn-xs bgm-blue  votante_attr_<%= id %>borrar <% if(editor != null) { %> hidden <% } %>"
               id="<%= id %>"
               data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Ver">
                <i class="fa fa-eye"></i>
            </a>
        </td>

    </script>

{% endblock %}


{% block floating_action_button %}
    <button id="reporte" class="hidden btn btn-float bgm-green m-btn waves-effect waves-circle waves-float"
            style="right: 105px">
        <i class="fa fa-file-excel-o"></i>
    </button>
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/loaders.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ws.js' %}"></script>
    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/ajax_load.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/models/models.js' %}"></script>
    <script src="{% static 'backbone/app/collections/collections.js' %}"></script>
    <script src="{% static 'backbone/app/views/filtroVotantes.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $('.select-2').select2();
        window.user = {{ user.id }};
        window.filtro_rapido = true;
    </script>
{% endblock %}