{% extends 'apps/votante/digitacion_rapida.html' %}
{% block titulo %}
    {% load staticfiles %}
    Reportes Votantes Nuevos
{% endblock %}
{% block main %}

    <div class="row" id="main_loader">
        <div class="col-md-12" align="center">
            <section class="loaders">
                <span class="loader loader-circles"> </span>
                <h3 class="text-center">
                    Cargando
                </h3>
            </section>
        </div>
    </div>

    <div class="row custom-hide fade" id="formulario">
        <div class="col-md-4">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">
                                Filtro Reporte De Votantes
                            </h3>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="select-2" id="departamentos" style="width: 100%;">
                                    <option disabled selected value>
                                        Escoja un departamento
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden" id="select_municipios">
                            <div class="form-group">
                                <div class="select">
                                    <select class="select-2" id="municipios" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden" id="select_corregimientos">
                            <div class="form-group">
                                <div class="select">
                                    <select class="select-2" id="corregimientos" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div align="center" style="padding-bottom: 15px;">
                            <button id="filtro" class="btn btn-lg bgm-cyan waves-effect">
                                Buscar <i class="fa fa-search"></i>
                            </button>
                            <button id="cancelar" class="btn hidden btn-lg bgm-red waves-effect">
                                Cancelar <i class="fa fa-close"></i>
                            </button>
                            <button id="reiniciar" class="btn hidden btn-lg bgm-teal waves-effect">
                                Reiniciar Busqueda <i class="fa fa-history"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row extras hidden">
                    <div class="col-md-12">
                        <div align="center">
                            <a data-toggle="modal" href="#modalWider" class="btn bgm-blue waves-effect"
                               style="margin-bottom: 3%">Ver lista de
                                votantes</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-8 extras ">
            <section id="counter" class="counter extras">
                <div class="main_counter_area">
                    <div class="overlay p-y-3">
                        <div class="container">
                            <div class="row">
                                <div class="main_counter_content text-center white-text wow fadeInUp">
                                    <div class="col-md-3">
                                        <div class="single_counter_1 bgm-lightblue font p-y-2 m-t-1">
                                            <i class="fa fa-users m-b-1"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="total_votantes_">{{ total_votantes }}</h2>
                                            <p class="text-white">Total Votantes</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_2 bgm-pink font p-y-2 m-t-1">
                                            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votaria_camara_">{{ camara }}</h2>
                                            <p class="text-white">Votarian a la camara</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_3 bgm-deeporange font p-y-2 m-t-1">
                                            <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votaria_senado_">{{ senado }}</h2>
                                            <p class="text-white">Votarian al senado</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_4 bgm-indigo font p-y-2 m-t-1">
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votaria_presidencia_">{{ presidencia }}</h2>
                                            <p class="text-white">Votarian en la Primera vuelta </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row margintop_reporte">
                                <div class="main_counter_content text-center white-text wow fadeInUp">

                                    <div class="col-md-4">
                                        <div class="single_counter_01 bgm-green font p-y-2 m-t-1">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votantes_contactados_">{{ contactados }}</h2>
                                            <p class="text-white">Votantes Contactados</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_counter_02 bgm-amber font p-y-2 m-t-1">
                                            <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votantes_sin_cedula_">{{ sin_cedula }}</h2>
                                            <p class="text-white">Votante Sin Cedulas</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_counter_03 bgm-red font p-y-2 m-t-1">
                                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="votantes_no_contactados_">{{ no_contactados }}</h2>
                                            <p class="text-white">Votantes No Contactados</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margintop_reporte">
                                <div class="main_counter_content text-center white-text wow fadeInUp">
                                    <div class="col-md-3">
                                        <div class="single_counter_1 bgm-cyan font p-y-2 m-t-1">
                                            <i class="fa fa-heart m-b-1"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="voluntarios_">{{ voluntario }}</h2>
                                            <p class="text-white">Votantes voluntarios</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_2 bgm-lightgreen font p-y-2 m-t-1">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white" id="referidos_">{{ referido }}</h2>
                                            <p class="text-white">Votantes referidos</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_3 bgm-purple font p-y-2 m-t-1">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="simpatizantes_">{{ simpatizante }}</h2>
                                            <p class="text-white">Votantes simpatizante</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_counter_4 font p-y-2 m-t-1">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <h2 class="statistic-counter text-white"
                                                id="nuevos_hoy_">{{ nuevos_hoy }}</h2>
                                            <p class="text-white">Nuevos Hoy</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End of counter Section -->
        </div>

    </div>

    <!-- Modal Large -->
    <div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-content-modal">
                <div class="modal-header" align="center">
                    <h2 class="modal-title letra_blanca">Lista de votantes </h2>
                </div>
                <div class="modal-body">
                    <div class="row hidden" id="loader">
                        <div class="col-md-12" align="center">
                            <section class="loaders">
                                <span class="loader loader-quart"> </span>
                            </section>
                        </div>
                    </div>

                    <div class="row hidden" id="sin_resultados">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="alert alert-info text-center">
                                No se encontraron resultados <a href="#" class="close" data-dismiss="alert"
                                                                aria-label="close">&times;</a>
                            </div>
                        </div>
                    </div>

                    <div class="card hidden" id="resultados_busqueda">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 hidden" id="contador_resultados">
                                    <h3 class="text-center">
                                        Registros encontrados <span id="contador_votantes"
                                                                    class="text-counter-votantes">0</span>
                                    </h3>
                                </div>
                                <div class="col-md-12 hidden" id="resultados" style="overflow-x: auto;">
                                    <table id="votantes_data"
                                           class="table table-stripped table-hover table-responsive table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center text-white">Cedula</th>
                                            <th class="text-center text-white">Nombre</th>
                                            <th class="text-center text-white">Ubicacion</th>
                                            <th class="text-center text-white">Contactado</th>
                                            <th class="text-center text-white">Voto Fuerte</th>
                                        </tr>
                                        </thead>
                                        <tbody id="votantes">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul id="pagination" class="pagination-sm"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <script type="text/template" id="datos">
                        <td class="text-center text-white">
                            <%= cedula %>
                        </td>
                        <td class="text-center text-white">
                            <%= nombre %>
                        </td>
                        <td class="text-center text-white">
                            <%= ubicacion %>
                        </td>
                        <td class="text-center text-white">
                            <% if(contactado == false) { %>
                            <div align="center">
                                <div class="toggle-switch toggle-switch-demo"
                                     data-ts-color="green">
                                    <input class="contactado" type="checkbox"
                                           id="contactado_<%= id %>"
                                           hidden="hidden">
                                    <label for="contactado_<%= id %>" class="ts-helper"></label>
                                </div>
                            </div>
                            <% } else { %>
                            <div align="center">
                                <div class="toggle-switch toggle-switch-demo"
                                     data-ts-color="green">
                                    <input class="contactado" type="checkbox"
                                           hidden="hidden"
                                           id="contactado_<%= id %>"
                                           checked="checked">
                                    <label for="contactado_<%= id %>" class="ts-helper"></label>
                                </div>
                            </div>
                            <% } %>
                        </td>
                        <td class="text-center text-white votante_attr_<%= id %> <% if(editor != null) { %> busy-call <% } %>">
                            <% if(voto_fuerte == false) { %>
                            <i class="fa fa-close text-danger"></i>
                            <% } else { %>
                            <i class="fa fa-check text-success"></i>
                            <% } %>
                        </td>
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link letra_blanca" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}




{% block floating_action_button %}
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>

{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/loaders.css' %}">
{% endblock %}

{% block scripts %}

    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/ajax_load.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/models/models.js' %}"></script>
    <script src="{% static 'backbone/app/collections/collections.js' %}"></script>
    <script src="{% static 'backbone/app/views/reporte.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script>
        'use strict';
        $('.select-2').select2();
        window.user = {{ user.id }};
        window.filtro_rapido = true;
    </script>
{% endblock %}







