{% extends 'apps/votante/digitacion_rapida.html' %}
{% block titulo %}
    {% load staticfiles %}
    Reporte Votantes nuevos por fecha
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row card">
            <div class="col-md-12">
                <h3 class="text-center">
                    Reporte de votantes nuevos por fecha
                </h3>
            </div>
            <form method="post">{% csrf_token %}
                <div class="col-md-4">
                    <div class="toggle-switch toggle-switch-demo pull-bottom-5p" data-ts-color="green">
                        <label for="rango" id="label type" class="ts-label">Rango de fecha</label>
                        <input id="rango" name="rango" type="checkbox" hidden="hidden" checked>
                        <label for="rango" class="ts-helper"></label>
                    </div>
                </div>
                <div class="col-md-4 fechas">
                    <label for="fecha_minima">Seleccione la fecha minima</label>
                    <input type="date" id="fecha_minima" name="fecha_minima" class="form-control">
                </div>
                <div class="col-md-4 fechas">
                    <label for="fecha_minima">Seleccione la fecha maxima</label>
                    <input type="date" id="fecha_maxima" name="fecha_maxima" class="form-control">
                </div>
                <div class="col-md-8 hidden" id="fecha_unica">
                    <label for="fecha">Seleccione una fecha especifica</label>
                    <input type="date" id="fecha_especifica" name="fecha_especifica" class="form-control">
                </div>
                <div class="col-md-12" align="center">
                    <br>
                    <button class="btn bgm-teal" type="submit">
                        Buscar <i class="fa fa-search"></i>
                    </button>
                    <br>
                    <br>
                </div>
            </form>
        </div>
    </div>

    {% if not error and votantes > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="main_counter_content text-center white-text wow fadeInUp">
                        <div class="single_counter_1 bgm-cyan font p-y-2 m-t-1">
                            <i class="fa fa-users fa-3x m-b-1"></i>
                            <h2 class="statistic-counter text-white" id="voluntarios_">{{ votantes }}</h2>
                            <br>
                            <h3 class="text-white">Total de votantes registrados en la fecha <br><code>{{ fecha }}</code></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% elif error or votantes == 0 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <strong>Lo sentimos</strong>, no se encuentran resultados para esta consulta.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}

    <script src="{% static 'js/wiremonkey.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.js' %}"></script>
    <script src="{% static 'backbone/app/views/nuevos_votantes.js' %}"></script>
    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $('.select-2').select2();
        window.user = {{ user.id }};
        window.filtro_rapido = true;
    </script>
{% endblock %}