{% extends 'index.html' %}
{% block titulo %}
    {% load staticfiles %}
    Reporte de llamadas
{% endblock %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-3" align="center">
                <form method="post" class="card">{% csrf_token %}
                    <div>
                        <div class="form-group">
                            <label for="desde">Selecione una fecha</label>
                            <input type="date" name="fecha" id="desde" class="form-control">
                        </div>
                        <button class="btn bgm-green">
                            Enviar <i class="fa fa-send"></i>
                        </button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
            {% if datos %}
            <div class="col-md-9 card">
                <h2>Datos de <code>{{ fecha }}</code></h2>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Total Llamadas: <code>{{ cantidad_llamadas }}</code></h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Contestadas: <code>{{ contestadas }}</code></h3>
                        </div>
                        <div class="col-md-4">
                            <h3>No contestadas: <code>{{ no_contestadas }}</code></h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Telefono Apagado: <code>{{ celular_apagado }}</code></h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Telefono Equivocado: <code>{{ celular_equivocado }}</code></h3>
                        </div>
                        <div class="col-md-4">
                            <h3>No volver a llamar: <code>{{ no_volver_a_llamar }}</code></h3>
                        </div>
                    </div>
            </div>
            {% endif %}
        </div>
        {% if llamadas %}
        <div class="row card">
            <h2 class="text-center">
                Lista de las 100 ultimas llamadas
            </h2>
            <div class="col-md-12">
                <table class="table table-responsive table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Usuario
                            </th>
                            <th class="text-center">
                                Votante
                            </th>
                            <th class="text-center">
                                Registro
                            </th>
                            <th class="text-center">
                                Contesto
                            </th>
                            <th class="text-center">
                                No llamar de nuevo
                            </th>
                            <th class="text-center">
                                Apagado
                            </th>
                            <th class="text-center">
                                Equivocado
                            </th>
                            <th class="text-center">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for llamada in llamadas %}
                            <tr>
                                <td class="text-center">
                                    {{ llamada.usuario }}
                                </td>
                                <td class="text-center">
                                    {{ llamada.votante.nombre }} - {{ llamada.votante.cedula }}
                                </td>
                                <td class="text-center">
                                    {{ llamada.creacion }}
                                </td>
                                <td class="text-center">
                                    {% if llamada.llamada %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if llamada.no_volver_a_contactar %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if llamada.celular_equivocado %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if llamada.celular_apagado %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-close text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ llamada.votante.get_absolute_url }}" class="btn bgm-green btn-xs">
                                        ver votante <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block floating_action_button %}
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>

{% endblock %}

{% block scripts %}

    <script src="{% static 'backbone/app/app.js' %}"></script>
    <script>
        $('.select-2').select2();
        window.user = {{ user.id }};
        window.filtro_rapido = false;
    </script>
{% endblock %}