{% extends 'apps/votante/digitacion_rapida.html' %}
{% block titulo %}
    {% load staticfiles %}
    Reportes Generados
{% endblock %}
{% block main %}

    <div class="container">
        <div class="row card">
            <div class="col-md-12">
                <h2 class="text-center">
                    Reportes generados
                </h2>
            </div>
            <div class="col-md-12">
                <table class="table table-stripped table-hover table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">id</th>
                        <th class="text-center">usuario</th>
                        <th class="text-center">fecha</th>
                        <th class="text-center">hora</th>
                        <th class="text-center">acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reporte in object_list %}
                        <tr>
                            <td class="text-center">
                                {{ reporte.id }}
                            </td>
                            <td class="text-center">
                                {{ reporte.usuario }}
                            </td>
                            <td class="text-center">
                                {{ reporte.fecha }}
                            </td>
                            <td class="text-center">
                                {{ reporte.hora }}
                            </td>
                            <td class="text-center">
                                <a href="{{ reporte.archivo.url }}" class="btn btn-xs bgm-green">
                                    descargar archivo <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}




{% block floating_action_button %}
    <a href="{% url 'main:inicio' %}"
       class="btn btn-float bgm-purple m-btn waves-effect waves-circle waves-float action-button">
        <i class="zmdi zmdi-mail-reply"></i>
    </a>

{% endblock %}







